<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="false">
        <include>
            <directory suffix=".php">lib</directory>
        </include>
        <exclude>
            <directory suffix=".php">lib/Interfaces</directory>
            <directory suffix=".php">lib/Exception</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="log_errors" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

</phpunit>
